<a href="https://colab.research.google.com/github/pramod-nanu/AIML_PythonPractice/blob/main/Python_VariablesDataType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World I am Data Scientist")

Hello World I am Data Scientist

In [ ]:
x=150
x
x+150

# We declared x as variable

300

In [ ]:
_cash = 150

In [ ]:
# Data Type
a = 30
b = "Hello"
print(type(a))
id(a)
c = 9.23
print(type(c))
b = int(c)
print(type(b))

<class 'int'>
<class 'float'>
<class 'int'>

In [ ]:

a = 1
b = 1
print(id(a))
print(id(b))
True + True

11654376
11654376

In [35]:
# Boolean Data types True is 1 and False is 0
print(True + True)
True - False
a = True
print(type(a))

2
<class 'bool'>

In [40]:
# String
paragraph = """This is Pramod
I am going to Mumbai tomorrow"""
print(paragraph)

This is Pramod
I am going to Mumbai tomorrow

In [41]:
str = 'I am good'
str

'I am good'

In [56]:
s1 = 'Artificial Intelligence'
print(s1[-5])
print(s1[2])
print(s1.index('A'))
print(s1[0:5])
print(s1[:5])
print(s1[:-5])
print(s1[:])
print(len(s1))

g
t
0
Artif
Artif
Artificial Intelli
Artificial Intelligence
23