<a href="https://colab.research.google.com/github/pramod-nanu/AIML_PythonPractice/blob/main/Python_1stWeek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World I am Data Scientist")

Hello World I am Data Scientist

In [ ]:
x=150
x
x+150

# We declared x as variable

300

In [ ]:
_cash = 150
# Used to define variable as private

In [ ]:
# Data Type
a = 30
b = "Hello"
print(type(a))
id(a)
c = 9.23
print(type(c))
b = int(c)
print(type(b))

<class 'int'>
<class 'float'>
<class 'int'>

In [ ]:

a = 1
b = 1
print(id(a))
print(id(b))
True + True

11654376
11654376

2

In [ ]:
# Boolean Data types True is 1 and False is 0
print(True + True)
True - False
a = True
print(type(a))

2
<class 'bool'>

In [ ]:
# String
paragraph = """This is Pramod
I am going to Mumbai tomorrow"""
print(paragraph)

This is Pramod
I am going to Mumbai tomorrow

In [ ]:
# String Slicing
s1 = 'Artificial Intelligence'
print(s1[-5])
print(s1[2])
print(s1.index('A'))
print(s1[0:5])
print(s1[:5])
print(s1[:-5])
print(s1[:])
print(len(s1))
print(s1[2:])

g
t
0
Artif
Artif
Artificial Intelli
Artificial Intelligence
23
tificial Intelligence

In [ ]:
# Type Casting/ Type Conversion
# int
print(int(10+5))
print(int(10.5))
print(int(True))
print(int("10"))
# Float
print(float(1))
print(float(True))
print(float(False))
print(float("10.000"))
# Complex
print(complex(7))
print(complex(9.6))
print(complex(True))
print(complex(False))
# Boolean
print(bool(0))
print(bool(0.0))
print(bool(123))
print(bool("0"))
# String
print(str(45))
type(str(45))

15
10
1
10
1.0
1.0
0.0
10.0
(7+0j)
(9.6+0j)
(1+0j)
0j
False
False
True
True
45

str

In [ ]:
# Immutable
a = "Data Science"
print(id(a))
a = "Pramod"
print(id(a))

132707719168880
132707718322080

In [ ]:
# Byte Data Type range is 0 to 256
x = [10,20,30,255]
print(type(x))
b = bytes(x)
print(type(b))
for i in b:
  print(i)

<class 'list'>
<class 'bytes'>
10
20
30
255

In [ ]:
# Bytes data --> Immutable
# bytearray ---> Mutable

In [ ]:
# list are Mutable ie values can be changed
# dont use keyword list
list1 = [10,20,"Pramod",True]
list1.append("I Am ")
list1.remove("I Am ")
print(list1)

[10, 20, 'Pramod', True]

In [ ]:
# Tuple are Immutable
tu = (10,30,203)
print(type(tu))

t1 = (1,2,3)
print(id(t1))
t1 = t1 + (4,5)
print(id(t1))

print(t1)

a1 = (10,20)
a2 = ("a","b")
a1+a2

<class 'tuple'>
132707718899392
132707760860000
(1, 2, 3, 4, 5)

(10, 20, 'a', 'b')

In [ ]:
# Range Data Type
range(10)
for i in range(10,20):
  print(i)
for i in range(10,20,2):
  print(i)
a = range(10)
print(a[5])
a[0] = 100

10
11
12
13
14
15
16
17
18
19
10
12
14
16
18
5

TypeError: 'range' object does not support item assignment

In [ ]:
s = {10,0,20,30,40,'Hello'}
s.add(16)
s

{0, 10, 16, 20, 30, 40, 'Hello'}

In [ ]:
# Frozen Data type
s = {10,20,30}
fs = frozenset(s)
type(fs)

frozenset

In [ ]:
# Dict data type
d = {101:'Pramod',102:'Nanu',103:'Ganesh'}
d[101] = 'Nanu'
d

# Can also create Empty dict
d = {}
d['a'] = 'Apple'
d['b'] = 'Banana'
d

{'a': 'Apple', 'b': 'Banana'}

In [ ]:
from ast import NotIn
# None data type
a = None
a
type(a)

NoneType

In [ ]:
# Operator
# Artithmetic
# +,-,**,*,/,//,%
a = 15
b = 2
print("a+b",a+b)
# Floor Division
print("a//b = ",a//b)
print("a%b = ",a%b)

a+b 17
a//b =  7
a%b =  1

In [ ]:
# And
print(0 and 20)
# or
print(10 or 20)
print(0 or 20)

0
10
20

In [ ]:
# Bitwise Operator work ar binary level
# AND
a = 5 # 0101
b =3  # 0011
print(a&b)
# OR
print(a|b)
# Bitwise XOR
print(a^b)
# Bitwise Not
print(~a)
# Left Shift
print(5 << 1)
# Right shift
print(5 >> 1)

1
7
6
-6
10
2

### Ternary Operator

In [ ]:
# Ternary Operator
a = 10
b = 20
max_num = a if a>b else b
print(max_num)

20

# Factorial Program

In [ ]:
def factorial(n):
  ans = 1
  i = 2
  # calculating fact
  while(i<=n):
    ans = ans * i
    i+=1
  return ans

In [ ]:
factorial(5)

120

In [ ]:
import math
math.factorial(10)

3628800