<a href="https://colab.research.google.com/github/pramod-nanu/AIML_PythonPractice/blob/main/Week2_FlowControl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Decision making statment
if, else,for/while,
break,continue,pass

In [ ]:
name = input("Enter Name : ")
if name == "Pramod":
  print("Hello Pramod")

Enter Name : Pramod
Hello Pramod

In [ ]:
# for loop
s = "Ramcharan"
for i in s:
  print(i)
for i in range(4):
  print("Hello")
#
for day in ['Mon','Tue','Wed']:
  print("Happy",day)

R
a
m
c
h
a
r
a
n
Hello
Hello
Hello
Hello
Happy Mon
Happy Tue
Happy Wed

In [ ]:
for x in range(10,0,-3):
  print(x)

10
7
4
1

In [ ]:
# While loop
x = 1
while x<10:
  print(x)
  x = x +1

1
2
3
4
5
6
7
8
9

In [ ]:
# to display the sum of first n numbers
n = int(input("Enter Number"))
sum = 0
i=1
while i <= n:
  sum = sum + i
  i = i+1
print("Sum is",sum)

Enter Number4
Sum is 10

In [ ]:
# Nested loops
for i in range(5):
  for j in range(5):
    print(i," ",j)

0   0
0   1
0   2
0   3
0   4
1   0
1   1
1   2
1   3
1   4
2   0
2   1
2   2
2   3
2   4
3   0
3   1
3   2
3   3
3   4
4   0
4   1
4   2
4   3
4   4

In [ ]:
# Printing * in right Trianlgular form
n = 5
for i in range(5):
  print('*' * i)

*
**
***
****

In [ ]:
 n = 5
 i=1
 while(i <= n):
  print("*" * i)
  i=i+1

*
**
***
****
*****

In [ ]:
 # Transfer statement
 for i in range(10):
  if i==7:
    print("Processing enough")
    break
  print(i)

0
1
2
3
4
5
6
Processing enough

In [ ]:
cart = [10,20,600,60,70]
for item in cart:
  if item > 500:
    print("Insurance can not be applied")
    break
  print(item)

10
20
Insurance can not be applied

In [ ]:
cart = [10,20,600,60,70]
for item in cart:
  if item > 500:
    print("Insurance can not be applied")
    continue
  print(item)

10
20
Insurance can not be applied
60
70

In [ ]:
# Pass
for i in range(100):
  if i%9 ==0:
    print(i)
  else:
    pass

0
9
18
27
36
45
54
63
72
81
90
99

In [ ]:
### String
s1 = 'Hello'
s2 = '''I am going good so far.Need to "push more" Effort'''
print(s1[2])
print(s1[-1])
print(s1[0:5:2])
# Reversing the String
print(s2[::-1])
print(''.join(reversed(s2)))

print(len(s1))

l
o
Hlo
troffE "erom hsup" ot deeN.raf os doog gniog ma I
troffE "erom hsup" ot deeN.raf os doog gniog ma I
5

In [ ]:
s = "Learning Python is very language !!!"
n = len(s)
i= -1
print("Backward Direction")
while i>= -n:
  print(s[i], end = '')
  i = i -1
print()
# Easy way to reverse string
print(s[::-1])

Backward Direction
!!! egaugnal yrev si nohtyP gninraeL
!!! egaugnal yrev si nohtyP gninraeL

In [ ]:
s = 'Rahul'
'R' in s

True

In [ ]:
 # Spaces
 city = "  Mumbai "
 print(city.strip())
 print(city.lstrip())
 print(city.rstrip())

Mumbai
Mumbai
  Mumbai

In [ ]:
# Find Substring
# find gives index
s = 'Hello I am Pramod'
print(s.find("I"))
print(s.find('o',0,7))
print(s.find('K'))
#print(s.index('K'))

6
4
-1

In [ ]:
# Program to display all positions of substring in given main string
s = input("Enter main String : ")
sub = input("Enter substring :")
flag = False
pos = -1
n = len(s)
while True:
  pos = s.find(sub,pos+1,n)
  if(pos == -1):
    break
  print("Found at position",pos)
  flag = True
if flag== False:
  print("Not found")

Enter main String : Hello I Am going to earn in 1 cr
Enter substring :i
Found at position 13
Found at position 25

In [ ]:
# Count Substring
s = "Hello I am learning python I am getting good at it"
print(s.count('i'))

3

In [ ]:
s = '22-02-2017'
l = s.split('-')
for x in l:
  print(x)
s1 = "I am data scientist"
l1 = s1.split(' ')
print(l1)
print('-'.join(l1))

22
02
2017
['I', 'am', 'data', 'scientist']
I-am-data-scientist

In [ ]:
 # Changing case
 s = "I am data Scientist"
 print(s.lower())
 print(s.title())
 print(s.capitalize())

i am data scientist
I Am Data Scientist
I am data scientist

In [ ]:
# Type of character inn string
s = "I Am Data Scientist"
print(s.isalnum())
print(s.istitle())

False
True

In [ ]:
# Formaatting String
name = 'Pramod'
salary = 23000
age = 35
print("{}'s salary is {} and age is {}".format(name,salary,age))
print("{0}'s salary is {1} and age is {2}".format(name,salary,age))
print("{x}'s salary is {y} and age is {z}".format(x=name, y=salary, z=age))

Pramod's salary is 23000 and age is 35
Pramod's salary is 23000 and age is 35
Pramod's salary is 23000 and age is 35

In [ ]:
 # Reversing String
 s = "Hello I am Pramod Gayakwad"
 l = s.split()
 l1=[]
 i = len(l)-1
 while(i >= 0):
  l1.append(l[i])
  i = i-1
output = ' '.join(l1)
print(output)

Gayakwad Pramod am I Hello

In [ ]:
# Write Program to remove dupliate characters from string
s1 = input("Enter some string : ")
s = s1.replace(" ","")
l =[]
for x in s:
  if x not in l:
    l.append(x)
output = ''.join(l)
print(output)

Enter some string : Hello I am still learning
HeloIamstirng

In [ ]:
# Find pccurence of each character from String
s = "aaabccccbbbaaabb"
d = {}
for x in s:
  if x in d.keys():
    d[x] = d[x] +1
  else:
    d[x] = 1
for k,v in d.items():
  print("{} = {} times ".format(k,v))
d

a = 6 times
b = 6 times
c = 4 times

{'a': 6, 'b': 6, 'c': 4}

In [ ]:
# List
# Insertion order is preserved and Duplicates alowed
list = eval(input("Enter List : "))
print(list)
print(type(list))

Enter List : 123
123
<class 'int'>

In [ ]:
# List functions
list = [1,2,3,4,5]
del list
list
lst = list(range(0,10))
print(lst)
# Split function
s = 'learning-python is not difficult'
print(s.split('-'))
# Accessing element
s = [1,2,3,4]
s[3] = 100
print(s[3])
print(s[0:4])
#Count
n = [0,1,2,3,4,3,2,4,1,2,3,1,2,4,2,]
print("Count of 1 is :",n.count(1))
# Index of number
print("Index of 2 is :",n.index(2))
# Append
l = []
l.append(10)
l.append(20)
l.append(30)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['learning', 'python is not difficult']
100
[1, 2, 3, 100]
Count of 1 is : 3
Index of 2 is : 2
[10, 20, 30]

In [ ]:
# Program to add all elements till 101 which are divisble by 10
l1 = []
for i in range(1,101):
  if i%10 == 0:
    l1.append(i)
print(l1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# Insert Function
l2 = [10,20,30,40]
print("Before insertion :",l2)
l2.insert(2,11)
print("After insertion :",l2)
l2.insert(1000,6)
print("After insertion :",l2)
l2.insert(-400,200)
print("After insertion :",l2)

Before insertion : [10, 20, 30, 40]
After insertion : [10, 20, 11, 30, 40]
After insertion : [10, 20, 11, 30, 40, 6]
After insertion : [200, 10, 20, 11, 30, 40, 6]

In [ ]:
# Adding two list
Boys = ["Pramod","Rahul","Amar"]
Girls = ["Radhika",'Lalita','Vishakha']
Boys.extend(Girls)
print(Boys)
print(Girls)

# Remove item
l3 = [1,2,3,5,6]
l3.remove(5)
print(l3)

# Pop Function
print("Last element is : ",l3.pop())

['Pramod', 'Rahul', 'Amar', 'Radhika', 'Lalita', 'Vishakha']
['Radhika', 'Lalita', 'Vishakha']
[1, 2, 3, 6]
Last element is :  6

In [ ]:
n = [10,20,30,40]
n.reverse()
print(n)

[40, 30, 20, 10]

In [ ]:
# Reverse and reversed
# Reversed
my_list = [1,2,3,4,5]
result = reversed(my_list)
for i in result:
  print(i)

# Reverse
my_list1 = [1,2,3,4,5]
my_list1.reverse()
print(my_list1)

5
4
3
2
1
[5, 4, 3, 2, 1]

In [ ]:
# Sort
n3 = [1,3,53,453,354,546,352,562,44]
n3.sort()
print(n3)
n3.sort(reverse=True)
print("After Sorting With reverse True : ",n3)
n3.sort(reverse=False)
print("After Sorting With reverse False : ",n3)

[1, 3, 44, 53, 352, 354, 453, 546, 562]
After Sorting With reverse True :  [562, 546, 453, 354, 352, 53, 44, 3, 1]
After Sorting With reverse False :  [1, 3, 44, 53, 352, 354, 453, 546, 562]

In [ ]:
# Aliasing
z = [1,2,3,4,5]
y = z
print("With Aliaing value changes reflect in other variable")
print(id(z))
print(id(y))
z[1] = 200

print(y)
print(z)

# Cloning
print("With Cloning value changes does not reflect in other variable")

x = [10,20,30,40,50]
y = x[:] # y = x.copy()
print(id(x))
print(id(y))
y[1] = 200
print(x)
print(y)

With Aliaing value changes reflect in other variable
139050364335040
139050364335040
[1, 200, 3, 4, 5]
[1, 200, 3, 4, 5]
With Cloning value changes does not reflect in other variable
139050408798080
139050364357056
[10, 20, 30, 40, 50]
[10, 200, 30, 40, 50]

In [ ]:
# Copy and deepcopy
import copy
original = [1, 2, [3, 4]]
shallow = copy.copy(original)

shallow[2][0] = 999

print(original)
print(shallow)

original = [1, 2, [5, 6]]
deep = copy.deepcopy(original)

deep[2][0] = 888

print(original)
print(deep)

[1, 2, [999, 4]]
[1, 2, [999, 4]]
[1, 2, [5, 6]]
[1, 2, [888, 6]]

In [ ]:
### 14th Nov

In [ ]:
### Nested List
## List comprehension
s = [x*x for x in range(1,6)]
print(s)
m = [x for x in s if x%2==0]
print(m)

[1, 4, 9, 16, 25]
[4, 16]

In [ ]:
### Find common elements between two lists
num1 = [1,2,3,4]
num2 = [1,2,6,7,8]
num3 = [i for i in num1 if i in num2]
print(num3)

[1, 2]