<a href="https://colab.research.google.com/github/pramod-nanu/AIML_PythonPractice/blob/main/Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Set Data Type

In [ ]:
s = {1,2,7,4,5,'Python','a',(2,1,3)}
s

{(2, 1, 3), 1, 2, 4, 5, 7, 'Python', 'a'}

In [ ]:
# create set
s2 = {()}
print(type(s2))
s3 = {}
print(type(s3))
print(type(set((1,2,3))))

<class 'set'>
<class 'dict'>
<class 'set'>

In [ ]:
# Remove duplciate numbers
num = [1,2,3,4,3,2,4,6]
set(num)

{1, 2, 3, 4, 6}

In [ ]:
s = {1,2,3}
s.add(4)
s.update({3,45,2})
print(s)
print(type(s))
s.remove(45)
s.pop()
print(s)
s.clear()
s

{1, 2, 3, 4, 45}
<class 'set'>
{2, 3, 4}

set()

In [ ]:
s = {1,2,3}
flag = 2 in s
print(flag)

True

In [ ]:
# MAthematcial Operation
# Union
a = {1,2,3,4,5}
b = {4,5,6,7,8}
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(b.difference(a))
print(a.symmetric_difference(b))
print(a^b)
# Subset
a = {1,2}
b = {1,2,3}
c = {4,5,3}
print(a.issubset(b))
# Superset
print(b.issuperset(a))
# disjoint
print(c.isdisjoint(a))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
True
True
True

In [ ]:
# Set compprehesnion
squares = {i**2 for i in range(1,6)}
print(squares)

{1, 4, 9, 16, 25}

In [ ]:
# Set objects doesnot support indexing or Slicing

# Dictionary

In [ ]:
student = {
    "name": "Mahesh",
    "Age":34,
    "Marks":4
}
print(student)
print(type(student))

{'name': 'Mahesh', 'Age': 34, 'Marks': 4}
<class 'dict'>

In [ ]:
# Dict Comprehension
squares = {i:i**2 for i in range(1,6)}
print(squares)
print(type(squares))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
<class 'dict'>

In [ ]:
# Access values
print(student['name'])
print(student.get('name'))
print(student.get('city','Not available'))
print(student.get('city'))
student

Mahesh
Mahesh
Not available
None

{'name': 'Mahesh', 'Marks': 4}

In [ ]:

student['Age'] = 35
student['gender'] = 'Male'
del student['gender']
# Pop  requires value
# popitem pick last one
print(student)
student.popitem()
print(student)

{'name': 'Mahesh', 'Marks': 4, 'Age': 35}
{'name': 'Mahesh', 'Marks': 4}

In [ ]:
# Essential dict methods
student = {
    "name": "Pramod",
    "Age":34,
    "Marks":4
}
if 'name' in student.keys():
  print("name Found")
if 'Pramod' in student.values() :
  print("Pramod Found")
print(student.keys())
print(student.values())
print(student.items())

for key,values in student.items():
  print(key," : ",values)

name Found
Pramod Found
dict_keys(['name', 'Age', 'Marks'])
dict_values(['Pramod', 34, 4])
dict_items([('name', 'Pramod'), ('Age', 34), ('Marks', 4)])
name  :  Pramod
Age  :  34
Marks  :  4

In [ ]:
from types import CoroutineType
# Updating multiple items
student.update({'name':'Nanu','Age':32,'city':'Nashik'})
student

{'name': 'Nanu', 'Age': 32, 'Marks': 4, 'city': 'Nashik'}

In [ ]:
# Nested Dict
classroom = {
    "Student1":{"Name": "Pramod",'Age':34,"grade":{"Math":90,"English":67}},
    "Student2":{"Name":"Nanu","Age":32},
    "Student3":{"Name":'Rahul','Age':22}
}
print(classroom.get('Student1').get('Name'))
print(classroom['Student1']['Name'])

Pramod
Pramod

In [ ]:
from typing import KeysView
# Create dict using list
keys =['Name','Salary','Age']
value = ["Alice",2000,34]
employee = dict(zip(keys,value))

In [ ]:
# Transform Existing Dictionaries
prices = {'Apple':45,'Banana':34,'carrot':45}
updated_prices = {key:value*2 for key,value in prices.items()}
print(updated_prices)

# using for loop
for key,value in prices.items():
  prices[key]=values*2
prices

{'Apple': 90, 'Banana': 68, 'carrot': 90}

{'Apple': 8, 'Banana': 8, 'carrot': 8}

In [ ]:
# Function
def wish():
  print("Good Morning")
wish()

Good Morning

In [ ]:
# Parameterized function
def wish(name):
  print("Hello Good Morning",name)
wish("Pramod")
wish("Nanu")

Hello Good Morning Pramod
Hello Good Morning Nanu

In [ ]:
# Program to square number
def squareit(num):
  print(num * num)
squareit(2)
squareit(4)

4
16

In [ ]:
# Return statement
def square(num):
  return num* num
square(4)

def add(a,b):
  sum = a+b
  return sum
add(3,2)

5

In [ ]:
# check for even or odd number
def even_odd(num):
  if(num % 2 == 0):
    print(num," is even")
  else:
    print(num," is odd")
even_odd(2)
even_odd(3)

2  is even
3  is odd

In [ ]:
# function to check factorial
def factorial(num):
  result = 1
  while num >=1:
    result = result * num
    num = num - 1
  return result
factorial(5)

120

In [ ]:
# Returning Multiple values
def sum_sub(a,b):
  sum = a+b
  sub = a-b
  return sum,sub
sum_sub(10,20)

(30, -10)

In [ ]:
# Argument types
# Positional Argument
def greeting(name,message):
  print("Hello ",name,message)
greeting("Pramod","Good Morning")

# Keyword Argument
def greeting(name,message):
  print("Hello ",name,message)
greeting(message = "Good Morning",name ="Bhau")

# Default Argument
def greeting1(name='Guest'):
  print("Hello",name,"Good Morning")
greeting1("Pramod")
greeting1()

# Variable Length Arguments
def sum(*numbers):
  total = 0
  for num in numbers:
    total = total + num
  return total
print(sum())
print(sum(5))
print(sum(1,2,43,5))

Hello  Pramod Good Morning
Hello  Bhau Good Morning
Hello Pramod Good Morning
Hello Guest Good Morning
0
5
51

In [ ]:
# Types of Variable
# Global
a = 10
def call():
  print(a)
call()
# Local
def call1():
  b = 20
  print(b)
call1

10

In [ ]:
print(a)

10

In [ ]:
# When use same name to local and global variable then
a = 180
def f1():
  a = 177
  print(a)
  print(globals()['a'])
f1()
print(a)

177
180
180

In [ ]:
# docstring
def square(num):
  """This returns the square value of any number"""
  return num*num

print(square.__doc__)
square(2)

This returns the square value of any number

4

In [ ]:
# Recursive Function
def factorial(num):
    if num == 1:
        return 1
    else:
        result = num * factorial(num-1)
    return result
factorial(5)

120

In [ ]:
# Fibonaccis series:
def fibonacci(num):
  if num==0:
    return 0
  elif num ==1:
    return 1
  else:
    return fibonacci(num-1) + fibonacci(num-2)
print(fibonacci(4))
print(fibonacci(8))

def fib(num):
  a,b = 0,1
  for i in range(num):
    a,b = b,a+b
  return a
print(fib(4))
print(fib(8))

3
21
3
21

In [ ]:
# fact using for loop
num = 5
fact =1
for i in range(1,num+1):
  fact = fact * i
print(fact)

# Fact using while loop
n = 5
fact1 = 1
while n>=1:
  fact1 = fact1 * n
  n = n-1
print(fact1)

120
120

In [ ]:
# Lambda function
s = lambda n:n*n
print("Square of number is ",s(4))
# to find sum of two numbers
s = lambda a,b:a+b
print("Sum of two number is",s(4,5))
# to find biggest number
s = lambda a,b:a if a>b else b
print("Biggest number is ",s(5,10))

Square of number is  16
Sum of two number is 9
Biggest number is  10

In [44]:
# Filter Function
def isEven(x):
  if x%2 == 0:
    return True
  else:
    return False
l1 = [1,3,4,6,8,10]
l1 = list(filter(isEven,l1))
print(l1)

# With Lambda Function
l2 = [23,45,66,89,70,43,21,45,76]
l3 = list(filter(lambda x:x%2==0,l2))
print(l3)

[4, 6, 8, 10]
[66, 70, 76]

In [45]:
# reduce funuction
from functools import reduce
l1 = [1,2,3,4,5]
result = reduce(lambda x,y:x+y,l1)
print(result)

15

In [46]:
# Accessing Annotation
def add(x:int,y:int)->int:
  return x+y
print(add.__annotations__)

{'x': <class 'int'>, 'y': <class 'int'>, 'return': <class 'int'>}

In [48]:
# Write a function to count vowels in string
def count_vowel(string):
  vowel='aieouAIEOU'
  count = 0
  for char in  string:
    if char in vowel:
      count = count + 1
  return count
count_vowel("Hello")

# To get vowels
s = "Hello Pramod"
vowels = [ch for ch in s if ch.lower() in "aieou"]
print(vowels)

['e', 'o', 'a', 'o']

In [53]:
# To find largest number
l = [10,20,30,40,5]
def largest():
  largest = l[0]
  for num in l:
    if num > largest:
      largest = num
  return largest
largest()

40

In [66]:
# Regular Expression
import re
s = "Hello I.am Data Scientist"
match = re.search(r'Data',s)
print(match)
print(re.search(r'.',s))
print(re.search(r'\.',s))

<re.Match object; span=(11, 15), match='Data'>
<re.Match object; span=(0, 1), match='H'>
<re.Match object; span=(7, 8), match='.'>

In [87]:
import re
print(re.findall(r'\d','Hello Pramod 123'))
print(re.findall(r'\D','Hello Pramod 123'))
print(re.findall(r'\w','Hello Pramod 123'))
print(re.findall(r'\W','Hello Pramod 123'))
print(re.findall(r'\s','Hello Pramod 123'))
print(re.findall(r'\S','Hello Pramod 123'))

print("######################")
print(re.findall(r'\d+','Hello Pramod 123'))
print(re.findall(r'\D+','Hello Pramod 123'))
print(re.findall(r'\w+','Hello Pramod 123'))
print(re.findall(r'\W+','Hello Pramod 123'))
print(re.findall(r'\s+','Hello Pramod 123'))
print(re.findall(r'\S+','Hello Pramod 123'))

print("######################")

print(re.findall(r'\Hello','Hello Pramod 123'))

['1', '2', '3']
['H', 'e', 'l', 'l', 'o', ' ', 'P', 'r', 'a', 'm', 'o', 'd', ' ']
['H', 'e', 'l', 'l', 'o', 'P', 'r', 'a', 'm', 'o', 'd', '1', '2', '3']
[' ', ' ']
[' ', ' ']
['H', 'e', 'l', 'l', 'o', 'P', 'r', 'a', 'm', 'o', 'd', '1', '2', '3']
######################
['123']
['Hello Pramod ']
['Hello', 'Pramod', '123']
[' ', ' ']
[' ', ' ']
['Hello', 'Pramod', '123']
######################
['Hello']

In [93]:
# import re
# compile
pattern = re.compile(r'\d+')
p = re.compile(r'[A-E]')
print(pattern.findall("Hello Data Scientist 123"))
print(p.findall("Hello Data Scientist 123"))

['123']
['D']

In [97]:
# Split
import re

text = "apple,banana;orange mango"

result = re.split(r'[,\s;]+', text)

print(result)
res=re.split(r'[,:\s;]',text)
print(res)

# chat

['apple', 'banana', 'orange', 'mango']
['apple', 'banana', 'orange', 'mango']